body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  padding: 15px;
}

.diagnostics__details {
  margin-bottom: 30px;
}

.diagnostics__header {
  padding: 10px 20px;
  background-color: #2e8aea;
  border-radius: 3px 3px 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.diagnostics__result {
  border: 2px solid #d9d9d9;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  padding: 15px 20px;
  background-color: #f8f8f8;
}


.error {
  color:#d90416;
}


table {
    width:100%;
}

th {
    text-align: left;
}


/*
======================================================
Umbraco's Backoffice CSS loading bubble indicator
======================================================
*/

.umb-load-indicator {
  margin: 0 auto;
  padding: 0;
  width: 50px;
  text-align: center;
}

.umb-load-indicator__bubble {
  display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0;
    border: 2px solid #2e8aea;
    border-radius: 100%;
    transform: transformZ(0);
    animation: umbLoadIndicatorAnimation 1.4s infinite
}

.umb-load-indicator__bubble:nth-child(1n) {
    left: -16px;
    animation-delay: 0s
}

.umb-load-indicator__bubble:nth-child(2n) {
    left: 0;
    animation-delay: .15s
}

.umb-load-indicator__bubble:nth-child(3n) {
    left: 16px;
    animation-delay: .30s
}

@keyframes umbLoadIndicatorAnimation {
    0% {
        background: #2e8aea;
        transform: scale(0.5)
    }

    50% {
        background: white;
        transform: scale(1)
    }

    100% {
        background: #2e8aea;
        transform: scale(0.5)
    }
}