<html>
    <head>
        <!-- jQuery Lib -->
        <script src="../scripts/jquery-1.12.4.min.js"></script>

        <!-- Main SignalR Lib -->
        <script src="../scripts/jquery.signalR-2.2.0.min.js"></script>

        <!-- SignalR manually generated Proxy -->
        <script src="../scripts/server.js"></script>

        <!-- Mustache JS Lib -->
        <script src="../scripts/mustache.min.js"></script>

        <!-- Scripts -->
        <script src="../scripts/devtools.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/styles.css" />
    </head>
    <body>

        <div id="importantMessages"></div>

        <!-- Pushed Logs will be appended inside this div -->
        <div id="logs"></div>
    </body>

    
</html>