<html>
    <head>
        <!-- jQuery Lib -->
        <script src="../scripts/jquery-1.6.4.min.js"></script>

        <!-- Main SignalR Lib -->
        <script src="../scripts/jquery.signalR-2.2.0.min.js"></script>

        <!-- SignalR manually generated Proxy -->
        <script src="../scripts/server.js"></script>

        <!-- Scripts -->
        <script src="../scripts/devtools.js"></script>

        <style type="text/css">
            #importantMessages div,
            #logs div {
                font-family:Consolas, Lucida Console, monospace;
                font-size:12px;
            }
        </style>
    </head>
    <body>

        <div id="importantMessages"></div>

        <!-- Pushed Logs will be appended inside this div -->
        <div id="logs"></div>  

    </body>
</html>