<html>
    <head>
        <!-- Mustache JS Lib -->
        <script src="../scripts/mustache.min.js"></script>

        <!-- Scripts -->
        <script src="../scripts/diagnostics-devtools.js"></script>

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
        <link rel="stylesheet" href="../css/diagnostics.css" />
    </head>
    <body>

        <div id="container">

            <h1>Diagnostics</h1>

            <!-- General -->
            <div class="diagnostics__details" id="general">
                <div class="diagnostics__header">
                    General
                </div>
                <div class="diagnostics__result" id="general-data">
                    <ul class="umb-load-indicator animated -half-second">
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                    </ul>
                </div>
            </div>

            <!-- Assemblies -->
            <div class="diagnostics__details" id="assemblies">
                <div class="diagnostics__header">
                    Assemblies
                </div>
                <div class="diagnostics__result" id="assemblies-data">
                    <ul class="umb-load-indicator animated -half-second">
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                    </ul>
                </div>
            </div>

            <!-- Permissions -->
            <div class="diagnostics__details" id="permissions">
                <div class="diagnostics__header">
                    Permissions
                </div>
                <div class="diagnostics__result" id="permissions-data">
                    <ul class="umb-load-indicator animated -half-second">
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                    </ul>
                </div>
            </div>

            <!-- Macros -->
            <div class="diagnostics__details" id="umbraco">
                <div class="diagnostics__header">
                    Macros
                </div>
                <div class="diagnostics__result" id="macros-data">
                    <ul class="umb-load-indicator animated -half-second">
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                    </ul>
                </div>
            </div>

            <!-- Sections -->
            <div class="diagnostics__details" id="umbraco">
                <div class="diagnostics__header">
                    Sections & Trees
                </div>
                <div class="diagnostics__result" id="sections-data">
                    <ul class="umb-load-indicator animated -half-second">
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                    </ul>
                </div>
            </div>

            <!-- MVC Routes -->
            <div class="diagnostics__details" id="umbraco">
                <div class="diagnostics__header">
                    MVC Routes
                </div>
                <div class="diagnostics__result" id="routes-data">
                    <ul class="umb-load-indicator animated -half-second">
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                    </ul>
                </div>
            </div>


        </div>
    </body>
</html>