<html>
    <head>
        <!-- jQuery Lib -->
        <script src="../scripts/jquery-1.12.4.min.js"></script>

        <!-- Main SignalR Lib -->
        <script src="../scripts/jquery.signalR-2.2.1.min.js"></script>

        <!-- SignalR manually generated Proxy -->
        <script src="../scripts/server.js"></script>

        <!-- Mustache JS Lib -->
        <script src="../scripts/mustache.min.js"></script>

        <!-- Scripts -->
        <script src="../scripts/logger-devtools.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/styles.css" />
    </head>
    <body>

        <div id="container">

             <!-- Need this fixed to the top -->
            <div id="toolbar">
                <div class="utility">
                    Pause Logs <input type="checkbox" name="pauseLogger" id="pauseLogger" />
                    <button id="clearButton">Clear Logs</button>
                    Scroll to Bottom <input type="checkbox" name="scrollToBottom" id="scrollToBottom" checked="checked" />
                </div>
                
                <div class="status">
                    <span id="status">Loading</span>
                    <button id="connectionButton">Disconnect</button>
                </div>
            </div>

            <div id="items">
                <!-- Pushed Logs will be appended inside this div -->
                <div id="logs"></div>
            </div>

        </div>

    </body>
</html>