<html>
    <head>
        <!-- jQuery Lib -->
        <script src="../scripts/jquery-1.12.4.min.js"></script>

        <!-- Main SignalR Lib -->
        <script src="../scripts/jquery.signalR-2.2.0.min.js"></script>

        <!-- SignalR manually generated Proxy -->
        <script src="../scripts/server.js"></script>

        <!-- Mustache JS Lib -->
        <script src="../scripts/mustache.min.js"></script>

        <!-- Scripts -->
        <script src="../scripts/profiler-devtools.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/styles.css" />
    </head>
    <body>

        <div id="container">

            <div id="items"></div>

        </div>

    </body>
</html>